body {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    height:100%;
    padding:0;
    margin:0;
    border:0;
}

h1 {
    margin: 0;
    padding: 0.5em;
}

p.description {
    font-size: 0.8em;
    padding: 0 1em 1em;
    margin: 0;
}

#message {
    font-size: 0.7em;
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 350px;
    display: none;
    padding: 1em;
    background: #ffc;
    border: 1px solid #dda;
    z-index: 10;
}